/****************************
 * General
 ***************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #454545;	
  background-color: #fefefe;	
  font-size: 12px;
}

a {
  color: #454545;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/****************************
 * Wrapper/Container
 ***************************/

header {
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #ccc;
}

#wrapper {
	padding: 60px;
}

/****************************
 * Map
 ***************************/

#map {
  float: left;
}

circle.active {
	fill: #ccc;
}

#Nodes circle,
#Edges line {
	stroke-width: 2;
	stroke-linecap: round;
	stroke-dasharray: 0, 0;
}

#Nodes g:hover {
	cursor: pointer;
}

#legend {
  float: left;
}

#legend ul {
  list-style: none;
}

#legend ul li {
  position: relative;
}

#legend ul li:before {
  position: absolute;
  top: 4px;
  left: -10px;
  width: 6px;
  height: 6px;
  content: '';
}

#legend ul li[data-line="1"]:before {
  background-color: #008D36;
}

#legend ul li[data-line="2"]:before {
  background-color: #E30613;
}

#legend ul li[data-line="3"]:before {
  background-color: #F39200;
}

#legend ul li[data-line="4"]:before {
  background-color: #1D71B8;
}

#legend div {
  position: relative;
  left: -10px;
  border-top: 1px solid #ccc;
  font-size: 10px;
  padding: 5px 0 0 0;
  margin: 5px 0 0 0;
  color: #999;
}

/****************************
 * Sidebar
 ***************************/
 
#sidebar {
	float: left;
	width: 200px;
	border-right: 1px solid #ccc;
	padding: 0 30px 0 0;
	margin: 0 30px 0 0;
	height: 450px;
}

#start {
	display: none;
}

#end {
	display: none;
}

#calculate {
	display: none;
}

#reset {
	display: none;
}

select {
  display: block;
  margin:10px 0;
}

button {
	display: inline-block;
	padding: 5px;
	background-color: #ccc;
	margin: 10px 5px 0 0;
	border: none;
}

button:hover {
	cursor: pointer;
	background-color: #ddd;
}

button:focus, button:active {
  outline: none;
}

#timetable {
  margin: 20px 0 0 0;
  display: none;
}

#timetable ol {
  margin: 0 0 10px 16px;
}

#timetable li span {
  color: #999;
}