<!doctype html>
<html>
<head>
	<title>Semantic Metro Map</title>
	<link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/lunar.js') }}"></script>	
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
	<div id="wrapper">

		<header>
			<h1>Semantic Metro Map</h1>
			<h2>Select two stops and calculate the shortest way</h2>
		</header>

		<section class="clearfix">
			<div id="sidebar">
			  <h3>Chose a map</h3>
			  <select>
			    <option value="frankfurt">Frankfurt am Main</option>
			    <option value="london">London</option>			    
			  </select>
				<div id="start"><strong>Start: </strong><span></span></div>
				<div id="end"><strong>End: </strong><span></span></div>
				<button id="calculate">Calculate route</button>
				<button id="reset">Reset</button>				
				<div id="timetable">
				  <h4>Your timetable:</h4>
				  <ol></ol>
				  <strong>Total travel time: <span></span></strong>
				</div>
			</div>
			<div id="map-wrapper">
  			<div id="map"></div>
  			<div id="legend">
    			<ul>
    			  <li data-line="1">Line 1</li>
    			  <li data-line="2">Line 2</li>
    			  <li data-line="3">Line 3</li>
    			  <li data-line="4">Line 4</li>    			      			      			  
    			</ul>
  			</div>
			</div>			
		</section>
		
	</div>
</body>

</html>

